.idea/
venv/
.pytest_cache
.cache
__pycache__/
*.log
.DS_Store
diagrams/
.vscode/


### Scratchpad files
scratchpad*.py

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# ignore wily files 
wily*

# ignore .env file
.env
